{% extends 'base.html.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <div class="container">
        <h2>Page Not Found</h2>
        <p>Bad Url</p>

        <a href="{{ path('homepage') }}" class="btn btn-primary">Home</a>
        <a href="{{ path('ad_list') }}" class="btn btn-success">Announcements</a>
    </div>
{% endblock %}